server {
    listen 80 default_server;
    server_name _;

    root {{ moodle_wwwroot }};
    index index.php index.html;

    client_max_body_size 64M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        # Ubuntu 24.04 などでは php{{ php_ver.stdout }}-fpm.sock が標準
        fastcgi_pass unix:/run/php/php{{ php_ver.stdout }}-fpm.sock;
    }

    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        try_files $uri $uri/ /index.php?$query_string;
        expires max;
        log_not_found off;
    }
}
