<?php
unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mariadb';       // 'mariadb' or 'mysqli'
$CFG->dblibrary = 'native';
$CFG->dbhost    = '{{ db_host }}';
$CFG->dbname    = '{{ db_name }}';
$CFG->dbuser    = '{{ db_user }}';
$CFG->dbpass    = '{{ db_password }}';
$CFG->dboptions = array(
  'dbpersist' => 0,
  'dbport' => {{ db_port|default(3306) }},
  'dbsocket' => '',
  'dbcollation' => 'utf8mb4_unicode_ci',
);

$CFG->wwwroot   = '{{ moodle_site_url }}';
$CFG->dataroot  = '{{ moodle_data_root }}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 02777;

require_once(__DIR__ . '/lib/setup.php');
// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
